body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: rgb(60, 104, 60);
}